{% extends "base.html" %}
{% load static %}

{% load phone_attr_filter %}

{% block title %}Каталог{% endblock %}


{% block content %}
    <div class="container">
        <div class="header">
            <h1>Сравнение телефонов</h1>
        </div>
          <div class="row">
            <div class="col">
              <div class="row">Модель:</div>
              <div class="row">Стоимость:</div>
              <div class="row">Операционная система:</div>
              <div class="row">Оперативная память:</div>
              <div class="row">Число пикселей на дюйм:</div>
              <div class="row">Двойная камера</div>
              <div class="row">Процессор:</div>
              <div class="row">Разрешение экрана:</div>
              <div class="row">FM-радио:</div>
              <div class="row">Дополнительно:</div>
            </div>
          {% for phone in phones %}
            <div class="col">
              <div class="row"><b>{{ phone.name }}</b></div>
              <div class="row">{{ phone.price }}</div>
              <div class="row">{{ phone.phone_os }}</div>
              <div class="row">{{ phone.phone_ram }}</div>
              <div class="row">{{ phone.ppi }}</div>
              <div class="row">{{ phone.dual_camera|check_attr }}</div>
              <div class="row">{{ phone.processor }}</div>
              <div class="row">{{ phone.screen_resolution }}</div>
              <div class="row">{{ phone.radio|check_attr }}</div>
              <div class="row">{{ phone.optional|linebreaks }}</div>
              </div>
            {% endfor %}
            </div>
{% endblock %}
