{% extends "base.html" %}
{% load static %}

{% load phone_attr_filter %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Сравнение телефонов</h1>
        </div>
          <div class="row">
            <div class="col">
              <p>Модель:</p>
              <p>Стоимость:</p>
              <p>Операционная система:</p>
              <p>Оперативная память:</p>
              <p>Число пикселей на дюйм:</p>
              <p>Двойная камера</p>
              <p>Процессор:</p>
              <p>Разрешение экрана:</p>
              <p>FM-радио:</p>
              <p>Дополнительно:</p>
            </div>
          {% for phone in phones %}
            <div class="col">
              <p><b>{{ phone.name }}</b></p>
              <p>{{ phone.price }}</p>
              <p>{{ phone.phone_os }}</p>
              <p>{{ phone.phone_ram }}</p>
              <p>{{ phone.ppi }}</p>
              <p>{{ phone.dual_camera|check_attr }}</p>
              <p>{{ phone.processor }}</p>
              <p>{{ phone.screen_resolution }}</p>
              <p>{{ phone.radio|check_attr }}</p>
              <p>{{ phone.optional|linebreaks }}</p>
              </div>
            {% endfor %}
            </div>
{% endblock %}
